TIMEZONE="America/Chicago"
BACKUPS_DIR="/home/${USER}/netman/backups"

NGINX_PROXY_MANAGER_HTTP_PORT="80"
NGINX_PROXY_MANAGER_HTTPS_PORT="443"
NGINX_PROXY_MANAGER_ADMIN_PORT="81"
NGINX_PROXY_MANAGER_ADMIN_EMAIL="myself@zachary.day"
NGINX_PROXY_MANAGER_ADMIN_PASSWD="REPLACE_ME"

PASSBOLT_DB_RANDOM_ROOT_PASSWD="true"
PASSBOLT_DB_DATABASE="passbolt"
PASSBOLT_DB_USERNAME="netman"
PASSBOLT_DB_PASSWORD="REPLACE_ME"

PIHOLE_DNS_PORT="53"
PIHOLE_DHCP_PORT="67"
PIHOLE_PASSWORD="REPLACE_ME"

UNIFI_STUN_PORT="3478"
UNIFI_SPEEDTEST_PORT="6789"
UNIFI_DEVICE_DISCOVERY_PORT="10001"
